<div class="service-banner">
  <h1>Services</h1>
  <%= link_to 'Create service', new_service_path(@service), class: "btn-flat" %>
</div>

<div class="container my-4">
  <div class="cards">
      <%= render "components/card-category" %>
  </div>
</div>
