<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url( <%= cl_image_path("fredrick-tendong-m1g4-dczgcc-unsplash_xr4zvp", :crop => :fill) %>);">
  <div class="container">
    <h1>Get <strong>better </strong> hire <strong>the best</strong>!</h1>

    <a class="btn btn-flat" href="#">Book a pro!</a>
  </div>
</div>
