<div class="footer">
<!--   <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-discord"></i></a>
    <a href="#"><i class="fab fa-facebook-square"></i></a>
  </div>
  <div class="footer-copyright">
   <a href="mailto:contact@onecoachingtobindthemall.com">  Contact us </a> <i class="fas fa-heart"> </i>
   <span> FAQ </span>
   <span> Legal </span>
  </div> -->
</div>

