<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/Anthony-Christen/one_booking_to_bind_them_all/"><i class="fab fa-github"></i></a>
    <a href="https://discord.com/channels/467448416449069065/689485138714820715"><i class="fab fa-discord"></i></a>
    <a href="https://www.facebook.com/GamerCoachOff/"><i class="fab fa-facebook-square"></i></a>
  </div>
  <div class="footer-copyright">
   <a href="mailto:contact@onecoachingtobindthemall.com"> Contact us </a> <i class="fas fa-heart"> </i>
   <span> FAQ </span>
   <span> Legal </span>
  </div>
</div>

