<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-discord"></i></a>
    <a href="#"><i class="fab fa-facebook-square"></i></a>
  </div>
  <div class="footer-copyright">
   <span> Contact us <i class="fas fa-heart"></i> </span>
   <span> FAQ </span>
   <span> Legal </span>
  </div>
</div>

