

.card-infos {
  display: flex;
  flex-direction: column;
  background-color: $lightpurple;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 30px;

  h2 {
   color: $strongpurple;
   line-height: 20px;
   }

  p {
    margin: 0;
  }
}

.card-infos-content {
  display: flex;
  justify-content: space-between;
  h3 {
    font-size: 20px;
    color: white;
  }

   h4 {
    font-size: 16px;
    color: white;
  }

  p {
    color: white;
  }

}

.card-infos .btn-flat {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  &:hover {
    text-decoration: none;
    color: $lightpurple;
  }
}

a:hover {
color: $lightpurple;
text-decoration:underline;
}
