.navbar {
  height: 60px !important;
}


.navbar-lewagon {
  justify-content: space-between;
  background: $strongpurple;
  height: 150px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.navbar-light .navbar-nav .nav-link {
  color: white;
  &:hover {
    color: $lightpurple;
  }
}

.navbar-toggler-icon {
  color: $lightgray;
}

li.nav-item.dropdown img {
  margin-left: 10px;
}

.fa-gamepad {
  font-size: 40px;
  color: white;
}

.navbar-brand {
  display: flex;
  align-items: center;
}
