.navbar {
  height: 50px !important;
}


.navbar-lewagon {
  justify-content: space-between;
  background: $strongpurple;
  height: 150px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.navbar-light .navbar-nav .nav-link {
  color: white;
}

 navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: $gray;
}

.navbar-toggler-icon {
  color: $lightgray;
}

